# Neon Database
DATABASE_URL="postgresql://username:password@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Auth.js / NextAuth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Cron Job Security
CRON_SECRET="your-random-secret-here"

# Optional: untuk production di Vercel
# AUTH_TRUST_HOST=true
